!!!
%html
  %head
    %meta{:charset=>'uth-8'}
    %title Test
  %body
  %table{:border=>1}
    %thead
    %tbody
      %td PLACE
      %form{:method=>"get", :action=>"/"}
        %td
          %input{:type=>"text", :name=>"search_place", :value=>@place}
        %td
          %input{:type=>"submit", :value=>"検索"}          
  %table{:border=>1}
    %thead
      %tr
        %th NAME
        %th PLACE
        %th TIME
    %tbody      
      - @members.each do |mem|
        %tr
          - if @place == nil || @place == ""
            %td= mem.name
            %td= mem.locations.order(:time).last.place
            %td= mem.locations.order(:time).last.time
            %form{:method=>"get", :action=>"/location_new1"}
              %td
                %input{:type=>"submit", :value=>"位置情報変更"}
                %input{:type=>"hidden", :name=>"id", :value=>mem.id}
            %form{:method=>"get", :action=>"/location_history"}
              %td
                %input{:type=>"submit", :value=>"履歴"}
                %input{:type=>"hidden", :name=>"id", :value=>mem.id}
          - else
            - if mem.locations.order(:time).last.place == @place
              %td= mem.name
              %td= mem.locations.order(:time).last.place
              %td= mem.locations.order(:time).last.time
              %form{:method=>"get", :action=>"/location_new1"}
                %td
                  %input{:type=>"submit", :value=>"位置情報変更"}
                  %input{:type=>"hidden", :name=>"id", :value=>mem.id}
              %form{:method=>"get", :action=>"/location_history"}
                %td
                  %input{:type=>"submit", :value=>"履歴"}
                  %input{:type=>"hidden", :name=>"id", :value=>mem.id}
  %form{:method=>"get", :action=>"/mem_register"}
    %input{:type=>"submit", :value=>"メンバー編集"}


-# order by で順番に並べて1番上を取ってくる.
-# locations  主キーは絶対に設定する.

